* {
    margin: 0;
}

.navbar {
    padding-top: 30px;
    margin-left: 10px;
    display:block;
    border-right: 1px solid #9d9d9d;
    width: 25vh;
    height: 100vh;
}

.icon {
    width: 18px;
    filter: contrast(20%);
}

a {
    display: block;
    margin-top: 40px;
    text-decoration: none;
    font-family: sans-serif;
    color:#5a5a5a;
    margin-left: 15px;
}

.div-titulo {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #9d9d9d;
}

.titulo {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color: #2c7f63;
    font-size: 20px;
}