
body{
    background-color: #fafafa;
    font-family: 'Poppins', sans-serif;
    display:flex;

}
h2{
    color: green;
}

.conteudo{
    margin-left: 15%;
    margin-top: 3.8%;
}

.tarefas{
    background: #ffffff;
    border: 1px solid #eee;
    border-radius: 12px;
    padding: 20px;
    margin-top: 0.85%;
    margin-right: 80%;
    margin-left: -17%;
    height: 200px;

    h2{
        margin: 0 0 20px 0;
        font-size: 20px;
        color: #333;
    }
}

.eventos{
     background: #ffffff;
    border: 1px solid #eee;
    border-radius: 12px;
    padding: 20px;
    margin-top: 90px;
    margin-right: 80%;
    margin-left: -17%;
    height: 200px;

    h2{
        margin: 0 0 20px 0;
        font-size: 20px;
        color: #333;
    }
}
.calendario{
    width: 65%;
    background-color: #ffffff;
    padding: 30px;
    border: 1px solid #eee;
    border-radius: 12px;
    height: 520px;
    margin-top: -575px;
    margin-left: 300px;
    margin-right: 550px;
}