<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    <main>
        <section class="navbar">
            <div class="div-titulo">
                <h1 class="titulo">StudyTrack</h1>
            </div>
            <nav>
                <a href="/pages/home.html">Início</a>
                <a href="/pages/task.html">Tarefas</a>
                <a href="/pages/planner.html">Calendário</a>
            </nav>
        </section>
    </main>
</body>
</html>