.body{
    background-color: #fafafa;
    font-family: Arial, sans-serif;
    display:flex;
    height: 100vh;

}
h2{
    color: green;
}

.principal {
    margin: 20px;
    display: block;
    width: 300px;
    height: 100vh;
}

.conteudo{
    display:flex;
    width: 100%;
    overflow-y: auto;
}

.tarefas{
    padding: 10px;
    background: #ffffff;
    border: 1px solid #eee;
    border-radius: 12px;
    margin-bottom: 20px;
    height: 300px;

    h2{
        margin: 0 0 20px 0;
        font-size: 20px;
        color: #333;
    }
}

.eventos{
    padding: 10px;
    background: #ffffff;
    border: 1px solid #eee;
    border-radius: 12px;
    height: 350px;

    h2{
        margin: 0 0 20px 0;
        font-size: 20px;
        color: #333;
    }
}
.calendario{
    flex: 1;
    margin: 20px;
    height: 100vh;
}

.calendario iframe{
    border: none;
    border-radius: 12px;
}