
body {
  background-color: #fafafa;
}

.principal-task {
  display: flex;
  height: 100vh;
}

.barra-lateral-task {
  width: 220px;
  height: 100vh;
  background: #ffffff;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.logotipo-task {
  font-weight: bold;
  margin-bottom: 30px;
}

.menu-task {
  flex-grow: 1;
}

.item-menu-task {
  padding: 12px;
  margin-bottom: 8px;
  border-radius: 8px;
  cursor: pointer;
  color: #555;
}

.conteudo-principal-task {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

.cabecalho-task {
  margin-bottom: 20px;
}

.box-task {
  position: relative;
}

.boxprogresso-task {
  height: 180px;
  background: white;
  border-radius: 12px;
  margin-right: 30%;
  border: 1px solid #eaeaea;
}

.boxhoras-task {
  height: 650px;
  background-color: white;
  border-radius: 12px;
  margin-right: 30%;
  margin-top: 40px;
  border: 1px solid #eaeaea;
}

.boxconcluidas-task {
  height: 180px;
  background: white;
  border-radius: 12px;
  margin-right: 30%;
  margin-top: 40px;
  border: 1px solid #eaeaea;
}
.horasdeestudo-task {
  height: 180px;
  width: 300px;
  background: white;
  border-radius: 12px;
  margin-left: 1000px;
  position: relative;
  top: -1490px;    
  right: 50px;   
  border: 1px solid #eaeaea; 
}

.boxsequencia-task{
  height: 180px;
  width: 300px;
  background: white;
  border-radius: 12px;
  margin-left: 1000px;
  position: relative;
  top: -870px;    
  right: 50px;
  border: 1px solid #eaeaea;
}

.boxdistribuicao-task{
  height: 220px;
  width: 300px;
  background: white;
  border-radius: 12px;
  margin-left: 1000px;
  position: relative;
  top: -820px;    
  right: 50px;
  border: 1px solid #eaeaea;
}
.graficos-task{
  height: 380px;
  width: 300px;
  background: white;
  border-radius: 12px;
  margin-left: 1000px;
  position: relative;
  top: -960px;    
  right: 50px;
  border: 1px solid #eaeaea;
}